<?php

/**
 * Database config
 *
 * Holds the configuration for the Database module
 *
 * @package CherrycakeSkeleton
 */

namespace Cherrycake;

$DatabaseConfig = [
	"providers" => [
		"main" => [
			"providerClassName" => "DatabaseProviderMysql",
			"resultClassName" => "DatabaseResultMysql",
			"config" => [
				"host" => "[replace_with_your_database_host]",
				"user" => "[replace_with_your_database_user]",
				"password" => "[replace_with_your_database_password]",
				"database" => "[replace_with_your_database_name]",
				"charset" => "utf8mb4",
				"cacheProviderName" => "huge"
			]
		]
	]
];