.errorPage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 30% 80px;
	<?= $boxSizingBorderBox; ?>
}

.errorPage > h1 {
	background-color: #000;
	padding: 1em;
	color: #fff;
}