.UiComponentArticle > .file {
    border-color: <?= $colorPalette["defaultTextColor"] ?>;
    color: <?= $colorPalette["defaultTextColor"] ?>;
}

.UiComponentArticle > a.file:hover {
    border-color: <?= $colorPalette["defaultAnchorColor"] ?>;
    color: <?= $colorPalette["defaultAnchorColor"] ?>;
}

.UiComponentArticle i {
    font-style: normal;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 1px 6px;
    border-radius: 5px;
    white-space: nowrap;
}

.UiComponentArticle > .image.framed > img {
    background: <?= $colorPalette["defaultAccentColor"]; ?>;
}

.UiComponentArticle > .images > a.image:hover {
    opacity: 1;
}

.UiComponentArticle > .images > a.image:hover > img {
    box-shadow: 0 0 0 5px <?= $colorPalette["defaultAccentColor"]; ?>;
}

.UiComponentArticle .keyboardKey {
    border: none;
    background: #fbeaa8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.UiComponentArticle .keyboardKey::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    
    height: 3px;

    border: none;
    background: #ead582;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.UiComponentArticle > hr {
    border-bottom: dotted rgba(0, 0, 0, 0.2) 5px;
}