.UiComponentArticle > .file {
    border-color: <?= $colorPalette["defaultTextColor"] ?>;
    color: <?= $colorPalette["defaultTextColor"] ?>;
}

.UiComponentArticle > a.file:hover {
    border-color: <?= $colorPalette["defaultAnchorColor"] ?>;
    color: <?= $colorPalette["defaultAnchorColor"] ?>;
}

.UiComponentArticle i {
    font-style: normal;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 1px 6px;
    border-radius: 5px;
    white-space: nowrap;
}

.UiComponentArticle a[data-linkInfo] {
	position: relative;
}

.UiComponentArticle a[data-linkInfo]:after {
	content: attr(data-linkInfo);
	font-size: 75%;
	line-height: 0;
	position: relative;
	top: -0.5em;
	margin-left: .5em;
	color: #999;
}

.UiComponentArticle .disclaimer {
	opacity: .5;
}

.UiComponentArticle > .image.framed > img {
    background: <?= $colorPalette["defaultAccentColor"]; ?>;
}

.UiComponentArticle > .images > a.image:hover {
    opacity: 1;
}

.UiComponentArticle > .images > a.image:hover > img {
    box-shadow: 0 0 0 5px <?= $colorPalette["defaultAccentColor"]; ?>;
}

.UiComponentArticle > .image {
    position: relative;
}

.UiComponentArticle > .image > .badge {
    position: absolute;
    right: -20px;
    bottom: -20px;
    
    background-image: url('/res/img/AssSeenOnTv.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    color: #fff;

    text-transform: uppercase;
    text-align: center;
    font-size: 12pt;
    line-height: 1.3em;
    
    transform: rotate(5deg);

    padding: 1em;
}

.UiComponentArticle > .image > .badge > .secondLine {
    font-size: 180%;
    font-weight: normal;
}

.UiComponentArticle .keyboardKey {
    border: none;
    background: #fbeaa8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.UiComponentArticle .keyboardKey::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    
    height: 3px;

    border: none;
    background: #ead582;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.UiComponentArticle > hr {
    border-bottom: dotted rgba(0, 0, 0, 0.2) 5px;
}